.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .connect-wrapper {
    position: relative;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .connect-wrapper h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .connect-wrapper h3{
    font-weight: bold;
    font-size: large;
  }
  
  .connect-wrapper p {
    margin-bottom: 20px;
    color: #666;
  }
  
  .connect-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .connect-form label {
    font-weight: bold;
    font-size: medium;
  }
  
  .connect-form .w-full {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
  }

  
  .connect-form select,
  .connect-form input[type="text"],
  .connect-form input[type="email"],
  .connect-form textarea {
    width: 100%;
    padding: 8px;
    font-size:small;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .connect-form select {
    cursor: pointer;
  }
  
  .connect-form .checks {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .radio{
    display: flex;
    gap: 10px;
  }
  
  
  .connect-btn {
    background-color: rgb(74, 34, 138);
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
  }
  
  .connect-btn:hover {
    background-color: rgb(94, 44, 175);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-btn {
    position:absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #777;
    cursor: pointer;
  }
  
  .open-form-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .open-form-btn:hover {
    background-color: #0056b3;
  }





  